body {
  font-family: sans-serif;
  text-align: left;
  background-color: #f0f0f0;
}

#gameBoard {
  display: grid;
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
}
#controls {
  text-align: center;
  margin: 20px auto;
}

select {
   width: 250px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 10px;
  outline: none;
  transition: box-shadow 0.2s;
}

select:focus {
  box-shadow: 0 0 5px rgba(92, 84, 199, 0.6);
  border-color: #5C54C7;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #222;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.1s;
}

.cell:hover {
  transform: scale(1.1);
}

.cell.on {
  background-color: #7B00FF;
}

button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #5C54C7;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}


#stepCounter, #timer {
  font-size: 18px;
  margin: 10px;
}

#infoBox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  text-align: left;
  z-index: 1000;
}

#infoBox div {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}
